.goldIcon {
    background-image: url('/image/icon/sprite_deal.png');
    width: 18px;
    height: 19px;
    background-position: -20px -142px;
    display: inline-block;
}

.cyristalIcon {
    background-image: url('/image/icon/sprite_deal.png');
    width: 19px;
    height: 21px;
    background-position: 0 -142px;
    display: inline-block;
}

.slingIcon {
    background-image: url('https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/etc/etc_14.png');
    background-size: contain;
    width: 19px;
    height: 19px;
}