.secretMapWrap {
    padding-top: 20px;
    @include mobileContentPadding();
    .mapInfoWrap {
        margin: 10px auto 0 auto;
        max-width: 768px;
        
    }
    .secretMapResultWrap {
        margin: 30px auto 10px auto;
        max-width: 768px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        table {
            text-align: center;
            
        }
    }
}