.calWrap {
    .calContentWrap {
        padding: 30px 0;

        .groundEffectAccordion {
            border: 1px solid $subPrimaryColor;
            @media (max-width:768px) {
                margin-bottom: 10px;
            }

            .groundEffectWrap {
                .groundEffectHeader {
                    margin-bottom: 20px;
                    background-color: $primaryColor;
                    font-size: 1.1rem;
                    cursor: pointer;
                    color: #FFF;
                    padding: 10px 15px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0;

                    button {
                        padding: 10px 15px;

                        &::after {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .groundEffectContent {
                    .groundEffectTable {
                        margin: 0;

                        th,
                        td {
                            text-align: center;
                        }

                        td {
                            .customWithIcon {
                                input {
                                    width: calc(100% - 36px);
                                    max-width: 120px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .gatheringContentWrap {
        .itemSearchWrap {
            padding: 10px;
            background-color: $primaryColor;
            display: flex;
            justify-content: flex-end;
            input[type=text] {
                background-color: transparent;
                color: #FFF;
                height: 40px;
                border-radius: 20px;
                font-size: 1.1em;
                padding: 5px 20px;
                outline: 2px solid #FFF;
                font-weight: bold;
                border: none;
                &:focus {
                    outline: 2px solid #FFF;
                    border: none;
                }
                
            }
        }

        .gatheringContentTitle {
            border-bottom: 2px solid $subPrimaryColor;
            margin-bottom: 10px;
            h2 {
                font-size: 1.5em;
                font-weight: bold;
                color: $primaryColor;
            }
        }

        .gatheringContentTabWrap {
            
        }
        
        .gatheringTableWrap {
            margin-top: 20px;
            margin-bottom: 50px;

            .totalGatheringResultWrap {
                @media (max-width: 768px) {
                    margin-top: 10px;
                    padding: 0 10px;
                }
                .totalGateringTitle {
                    @include contentSubTitle()
                }
                .inputUseItemWrap {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    @media (max-width:768px) {
                        flex-direction: column;
                    }
                    >div {
                        padding: 10px 0;
                        display: flex;
                        gap: 10px;
                        font-size: 0.8em;
                        @media (max-width:768px) {
                            input {
                                width: 100%;
                            }   
                        }
                        >div:first-child {
                            @media (max-width: 768px) {
                                width: 160px;
                            }
                        }
                    }
                }

                .totalResultWrap {
                    .totalResultTitle {
                        @include contentSubTitle()
                    }

                }
            }
        }
    }

    .itemWrap {
        display: flex;
        gap: 10px;
        justify-content: left;
        align-items: center;
        padding-left: 10px;
    }

    .produceItemModalWrap {
        display: table;
        width: 100%;
        .produceItemModalHeader {
            margin-bottom: 10px;
        }
    }

    .totalResultContent {
        .totalResultFormula {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        display: flex;
        justify-content: space-between;
        >div {
            padding: 10px 10px;
        }
        >div:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
        }
    }
}