// 기본 버튼
@mixin button () {
    border: none;
    background-color: $primaryColor;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
        background-color: $subPrimaryColor;
    }
}

@mixin inputFormBox() {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $subGrayColor;
    font-size: 1rem;
    color: $primaryColor;
}

@mixin contentSubTitle() {
    text-align: center;
    padding: 10px 0;
    background-color: $primaryColor;
    color: #FFF;
    font-weight: bold;
}

@mixin mobileContentPadding() {
    padding-left: 10px;
    padding-right: 10px;
}
// 기본 모달에 관한 스타일 믹스인으로 처리