$headerHeight:80px;
$footerHeight:50px;

/* 색상 모음 */
$primaryColor: #212226;
$subPrimaryColor: #343459;
$mainGrayColor: #888;
$subGrayColor: #aaa;
$lightGrayColor: #EEE;
$impactColor: #FF009C;
$tableBackgroundColor: #292c35;